@model IEnumerable<Madden.Player>
@{
    ViewBag.Title = "LeaguePlayers";
}

<h2>LeaguePlayers</h2>

<table id="Offensive Skill Positions">
    <tr>
        <th>Pos</th>
        <th>Name</th>
        <th class="statHead">@Html.ActionLink("Age", "LeaguePlayers", "Madden", new { leagueId = ViewBag.LeagueId, position = ViewBag.Position, sortBy = "Age", currentSortDirection = ViewBag.SortDirection }, null)</th>
        <th class="statHead" title="Overall">@Html.ActionLink("OVR", "LeaguePlayers", "Madden", new { leagueId = ViewBag.LeagueId, position = ViewBag.Position, sortBy = "Overall", currentSortDirection = ViewBag.SortDirection }, null)</th>
        <th class="statHead" title="Speed">@Html.ActionLink("SPD", "LeaguePlayers", "Madden", new { leagueId = ViewBag.LeagueId, position = ViewBag.Position, sortBy = "Speed", currentSortDirection = ViewBag.SortDirection }, null)</th>
        <th class="statHead" title="Development Trait">@Html.ActionLink("DEV", "LeaguePlayers", "Madden", new { leagueId = ViewBag.LeagueId, position = ViewBag.Position, sortBy = "Development", currentSortDirection = ViewBag.SortDirection }, null)</th>
        <th class="statHead" title="Years Left on Current Contract">@Html.ActionLink("YRS", "LeaguePlayers", "Madden", new { leagueId = ViewBag.LeagueId, position = ViewBag.Position, sortBy = "ContractYearsLeft", currentSortDirection = ViewBag.SortDirection }, null)</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr class="playerRow">
            <td class="positionCol">@player.Position</td>
            <td class="nameCol">
                <span class="firstName">@player.FirstName.Substring(0, 1)</span>
                <span class="lastName">@player.LastName</span>
            </td>
            <td class="statCol">@player.Age</td>
            <td class="statCol">@player.Overall</td>
            <td class="statCol">@player.Speed</td>
            <td class="statCol">@player.Development</td>
            <td class="statCol">@player.ContractYearsLeft</td>
        </tr>
    }
</table>